.panel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.panelText {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid black;
  height: 60px;
  width: 60px;
}

.arrow {
  font-size: 30px;
}

.arrow:hover {
  cursor: pointer;
}
