.panelContainer {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid grey;
  padding: 0px 15px;
  /* margin: 1em; */
  height: fit-content;
}

.arrow:hover {
  cursor: pointer;
}
