.disPanel {
  border: 2px solid black;
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
  margin: 1em;
}

.floorDisplay {
  border: 2px solid black;
  height: 50px;
  margin-right: 3em;
  margin-left: 1em;
}

.displayText {
  font-size: xx-large;
}

.disArrow {
  margin-left: 6em;
}

.arrow {
  font-size: 30px;
}
