.disPanel {
  border: 2px solid grey;
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.floorDisplay {
  border: 2px solid grey;
  height: fit-content;
  width: fit-content;
  margin-left: 1em;
  padding: 1em;
  display: flex;
}

.displayText {
  font-size: xx-large;
}

.arrow {
  font-size: 30px;
}

.disArrow {
  display: flex;
  justify-content: flex-end;
  padding: 0 1em;
}
