.floorGrid {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  max-width: 50%;
  outline: solid 1px grey;
}

.gridButton {
  flex: 1 1 20%;
  margin: 0.25em;
  max-width: 4em;
}
