.liftDoors {
  margin: 1em;
  display: flex;
  height: 20em;
  width: 20em;
}
.leftDoor {
  width: 50%;
  height: 100%;
  display: inline;
  border: solid 2px grey;
}
.rightDoor {
  min-height: 100%;
  width: 50%;
  display: inline;
  border: solid 2px grey;
}
